.product-list {
  padding-left: 1rem;
  padding-right: 1rem;
  flex: 1;

  .title {
    font-size: 1.5rem;
    letter-spacing: -0.029375rem;
    font-weight: 600;
  }

  .products {
    margin-top: 24px;

    .loading {
      background-color: red;
    }

    .not-found {
      max-width: 700px;
    }
  }
}
