.left-menu {
  width: 200px;
}

.left-menu .section {
  margin-bottom: 36px;
}

.left-menu .section-title {
  height: 0.875rem;
  line-height: 0.875rem;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: rgb(102, 102, 102);
  font-weight: 500;
}

.left-menu .colors {
  display: flex;
  flex-direction: row;
}

.colors .color {
  height: 16px;
  width: 16px;
  border-radius: 4px;
  margin-right: 4px;
  cursor: pointer;
}

.left-menu .price {
  height: 0.875rem;
  line-height: 0.875rem;
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: #111;
  letter-spacing: 0.2px;
  cursor: pointer;
  width: fit-content;
}

/* Override ButtonGroup component */
.left-menu .btn-group {
  margin: 0px !important;
}
